{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('assets/css/signin.css') }}">

{% endblock %}

{% block body %}

<div class="slide"> </div>
  <section class="main">

        <div class="container">
            <h2>se connecter</h2>
<form method="post" class="formulaire" >
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="mail">
                    <label for="inputEmail">Adresse mail</label>
                    <input type="email" value="{{ last_username }}" class="form-control" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Veuillez entrer votre adresse mail">
                </div>
           <div class="mdp">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Veuillez entrer votre mot de passe">
                </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

<div class="checkbox">
<label> 
<input type="checkbox" name="_remember_me">Se souvenir de moi?
</label>
</div>
<br>

 <div class="btn login">
                    <input type="submit">
                </div>

            </form>
            <div class="btn_2">
                <div class="btn_1">
            <a style="margin-left:30px; color:blue;"href="{{path('app_forgot_password_request') }}"><button class="forget_password">mot de passe oublié</button></a>        
                </div>
                <div class="btn">
                    <a href="{{path('app_register')}}"><button class="signup">Créer son compte</button></a>
                </div>
            </div>
        </div>
    </section>

 {% block footer %}{% endblock %}
{% endblock %}




       
                

               